.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  background-color: white;
  padding: 1rem;
  border: .5px solid black;

}

form{
  margin-top: 30px;
}
